* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: rgb(27, 26, 26);
    color: white;
    padding: .7rem;
}
.header {
    margin: 1rem 0;
    text-align: center;
}

.header h2 {
    font-size: 2.3rem;
}

h3, h2, .btn-prefight {
    font-family: 'Acme', sans-serif;
    color: #75e60b;
}

img {
    width: 100px;
    height: 100px;   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.interface, .enemy {
    background-color: rgb(49, 49, 49);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.enemy {
    visibility: hidden;
}

.interface a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: .5rem;
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
    border-radius: 0 3px 3px 0;
}

.task {
    font-family: 'Acme', sans-serif;
    background-color: #303030;
    padding: .8rem;
    border-radius: .7rem;
    font-size: 1.5rem;
}

.new-interface, .new-enemy {
    background: none;
}
.new-interface div {
    
}

.character {
    background-color: #303030;
    padding: .8rem 1rem;
    border-radius: .4rem;
}

.character img {
    border-radius: 5px;
}

.btn-prefight {
    text-decoration: none;
    padding: .4rem .7rem;
    border-radius: .3rem;
    color: #fff;
    background-color: orange;
}
.center {
    display: flex;
    justify-content: center;
}

.interface a:hover {
   background-color: rgba(255, 228, 196, 0.171);
}

.interface a div h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
}



